<div class="container">
  <form (submit)="salvar()" [formGroup]="formulario">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Editando' : 'Nova' }} Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input name="nome" pInputText type="text" formControlName="nome">

        <app-message [control]="formulario.get('nome')" error="required"
            text="Informe um nome"></app-message>

        <app-message [control]="formulario.get('nome')" error="minlength"
          text="O nome deve ter no mínimo {{ formulario.get('nome').errors?.minlength?.requiredLength }} caracteres!">"></app-message>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid" formGroupName="endereco">
        <label>Logradouro</label>
        <input name="logradouro" pInputText type="text" formControlName="logradouro">

        <app-message [control]="formulario.get('endereco.logradouro')" error="required"
          text="Informe o logradouro"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid" formGroupName="endereco">
        <label>Número</label>
        <input  name="numero" pInputText type="text" formControlName="numero">

        <app-message [control]="formulario.get('endereco.numero')" error="required"
        text="Informe o número"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid" formGroupName="endereco">
        <label>Complemento</label>
        <input name="complemento" pInputText type="text"
          formControlName="complemento">
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid" formGroupName="endereco">
        <label>Bairro</label>
        <input name="bairro" pInputText type="text" formControlName="bairro">

        <app-message [control]="formulario.get('endereco.bairro')" error="required"
          text="Informe o bairro"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid" formGroupName="endereco">
        <label>CEP</label>
        <p-inputMask  name="cep" mask="99.999-999" formControlName="cep"></p-inputMask>

        <app-message [control]="formulario.get('endereco.cep')" error="required"
          text="Informe o CEP"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="endereco">
        <label>Cidade</label>
        <input name="cidade" pInputText type="text"  formControlName="cidade">

        <app-message [control]="formulario.get('endereco.cidade')" error="required"
          text="Informe a cidade"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="endereco">
        <label>Estado</label>
        <input  name="estado" pInputText type="text" formControlName="estado">

        <app-message [control]="formulario.get('endereco.estado')" error="required"
          text="Informe o estado"></app-message>
      </div>

      <div class="ui-g-12">
        <p-panel header="Contatos">
          <app-pessoa-cadastro-contato [contatos]="formulario.get('contatos').value"></app-pessoa-cadastro-contato>
        </p-panel>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>

        <button pButton class="ui-button-info" type="button" label="Novo"
          (click)="novo()"></button>
          
        <a routerLink="/pessoas">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>