<div class="container">
  <form #f="ngForm" (ngSubmit)="salvar(f)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Editando' : 'Nova' }} Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText name="nome" type="text" [(ngModel)]="pessoa.nome"
          #nome="ngModel" required minlength="5">

        <app-message [control]="nome" error="required"
            text="Informe um nome."></app-message>
        <app-message [control]="nome" error="minlength"
            text="Mínio de {{ nome.errors?.minlength?.requiredLength }} caracteres."></app-message>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid" formGroupName="endereco">
        <label>Logradouro</label>
        <input pInputText name="logradouro" type="text" [(ngModel)]="pessoa.endereco.logradouro"
          #logradouro="ngModel" required>

        <app-message [control]="logradouro" error="required"
          text="Informe o logradouro."></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Número</label>
        <input pInputText name="numero" type="text" [(ngModel)]="pessoa.endereco.numero"
          #numero="ngModel" required>

        <app-message [control]="numero" error="required"
        text="Informe o número."></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input pInputText name="complemento" type="text" [(ngModel)]="pessoa.endereco.complemento"
          #complemento="ngModel">
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input pInputText name="bairro" type="text" [(ngModel)]="pessoa.endereco.bairro"
          #bairro="ngModel">

        <app-message [control]="bairro" error="required"
          text="Informe o bairro."></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CEP</label>
        <p-inputMask  name="cep" mask="99.999-999" [(ngModel)]="pessoa.endereco.cep"
          #cep="ngModel"></p-inputMask>

        <app-message [control]="cep" error="required"
          text="Informe o CEP."></app-message>
      </div>

      
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Estado</label>
        <p-dropdown placeholder="Selecione..."
          [autoWidth]="false" [filter]="true"
          [options]="estados" [(ngModel)]="estadoSelecionado"
          (onChange)="carregarCidades()"
          #estado="ngModel" require>      
        </p-dropdown>

        <app-message [control]="estado" error="required"
          text="Informe o Estado."></app-message>
      </div>
    
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cidade</label>

        <p-dropdown placeholder="Selecione..."
          [autoWidth]="false" [filter]="true"
          [options]="cidades" [(ngModel)]="pessoa.endereco.cidade.codigo"
          name="cidade" #cidade="ngModel" required
          [disabled]="!estadoSelecionado">       
        </p-dropdown>

        <app-message [control]="cidade" error="required"
          text="Informe a cidade."></app-message>
      </div>

      <div class="ui-g-12">
        <p-panel header="Contatos">
          <app-pessoa-cadastro-contato [contatos]="pessoa.contatos"></app-pessoa-cadastro-contato>
        </p-panel>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>

        <button pButton  type="button" label="Novo" class="ui-button-info"
          (click)="novo(f)"></button>
          
        <a routerLink="/pessoas">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>