<div class="container">
  <form  #f="ngForm" autocomplete="off" (submit)="salvar(f)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input name="nome" pInputText type="text" #nome="ngModel"
          [(ngModel)]="pessoa.nome"
          required minlength="10">

        <app-message [control]="nome" error="required"
            text="Informe um nome"></app-message>

          <app-message [control]="nome" error="minlength"
            text="O nome deve ter no mínimo
              {{ nome.errors?.minlength?.requiredLength }} caracteres!">"></app-message>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Logradouro</label>
        <input name="logradouro" pInputText type="text" #logradouro="ngModel"
          [(ngModel)]="pessoa.endereco.logradouro"
          required>

        <app-message [control]="logradouro" error="required"
          text="Informe o logradouro"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Número</label>
        <input  name="numero" pInputText type="text" #numero="ngModel"
          [(ngModel)]="pessoa.endereco.numero"
          required>

        <app-message [control]="numero" error="required"
        text="Informe o número"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input name="complemento" pInputText type="text"
          [(ngModel)]="pessoa.endereco.complemento">
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input name="bairro" pInputText type="text" #bairro="ngModel"
          [(ngModel)]="pessoa.endereco.bairro"
          required>

        <app-message [control]="bairro" error="required"
          text="Informe o bairro"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CEP</label>
        <p-inputMask  name="cep" mask="99.999-999" #cep="ngModel"
          [(ngModel)]="pessoa.endereco.cep"
          required></p-inputMask>

        <app-message [control]="cep" error="required"
          text="Informe o CEP"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cidade</label>
        <input name="cidade" pInputText type="text" #cidade="ngModel"
          [(ngModel)]="pessoa.endereco.cidade"
          required>

        <app-message [control]="cidade" error="required"
          text="Informe a cidade"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Estado</label>
        <input  name="estado" pInputText type="text" #estado="ngModel"
          [(ngModel)]="pessoa.endereco.estado"
          required>

        <app-message [control]="estado" error="required"
          text="Informe o estado"></app-message>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"
          [disabled]="f.invalid"></button>

          <button pButton class="ui-button-info" type="button" label="Novo"></button>
        <a routerLink="/pessoas">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
